.view_content {
    position: fixed;
    z-index: 1;
    height: 500px;
    width: 75%;
    border: 3px solid black;
    background: lightgray;
}

.main_conteiner {
    background: red;
}

.img-sizes {
    height: 200px;
    width: 200px;
}
